.forminator-ui#forminator-module-98.forminator-design--default .forminator-input, .forminator-ui#forminator-module-98.forminator-design--default .forminator-input:hover, .forminator-ui#forminator-module-98.forminator-design--default .forminator-input:focus, .forminator-ui#forminator-module-98.forminator-design--default .forminator-input {
  height: 55px !important;
  /*border-color: #feb904 !important;*/
  border-color: white !important;
  background: transparent !important;
  color: white !important;
}

.forminator-ui#forminator-module-98.forminator-design--default .forminator-textarea, .forminator-ui#forminator-module-98.forminator-design--default .forminator-textarea:hover, .forminator-ui#forminator-module-98.forminator-design--default .forminator-textarea:focus, .forminator-ui#forminator-module-98.forminator-design--default .forminator-textarea {
  border-color: white !important;
  background: transparent !important;
  color: white !important;
}

.forminator-field {
  text-align: center !important;
}

.forminator-ui#forminator-module-98.forminator-design--default .forminator-button-submit {
  border: 2px solid #feb904 !important;
  padding: 15px 20px 15px 20px;
  color: #feb904 !important;
  background: transparent !important;
}