.custom-search-form {

  .search-field {
    height: 45px;
    width: 400px;
    outline: 0;
    border: 1px solid #868686;
    background: #2f2f2f;
    color: #868686;
  }

  .search-submit {
    height: 45px;
    margin-left: -20px;
  }
}